
body{
    background: #454545;
    line-height: 1.7;
}

textarea{
    width: 100%;
    resize: none;
    height: 100px;
}

.article img{
    width: 100%;
}

.article img:hover{
    width: 180%;
}
.article .important{
    color: red;
    display: inline;
}

.article img.Emoticon{
    width: auto;
    height: auto;
    vertical-align: top;
    max-height: 10%;
    max-width: 10%;
}




.text{
    text-indent: 2em;
}




a{
    text-decoration: none;
}

h1{
    text-align: center;
}

a,body{
    color: #eee;
}
.article .content a{
    color: #991212;!important;
}
.side-bar{
   float: left;
    width: 25%;
    position: fixed;
}

.main{
    float: right;
    width: 75%;
}

.article-list,.article{
    width: 50%;
    background: #fff;
    color: #454545;
    padding: 4mm 12mm;
    box-shadow: 0 0 2mm rgba(0,0,0,0.2);
}


.article-list .item .title,.article .title {
    color: #454545;
    font-size: 8mm;
    font-weight: 700;
}

.article-list .item .status,.article .status{
    font-size:5mm;
    color: #ccc;
}

.article-list .item>*,
.article>*{
    margin: 4mm 0mm;
}

.header .logo{
    line-height: 1;
    border: 2mm solid #eee;
    padding: 4mm 8mm;
    font-size:12mm;
    display: inline-block;
    margin-bottom: 4mm;
}

.side-bar>*{
    padding: 4mm 6mm;
}

.side-bar .nav a,
.side-bar .tag-list a{
    display: block;
    padding: 3mm;
    color: #888;
}

.side-bar .nav a{
    font-weight: 900;
}

.side-bar .nav a:hover,
.side-bar .tag-list a:hover{
    color: #eee;
    transition:color 1000ms;
}


.article-list .item{
    margin-bottom: 10mm;
}
