
body{
    background: #454545;
    line-height: 1.7;
}
html{
    font-size: 0.5vw;
}
audio{
    width: 100%;
}
textarea{
    width: 100%;
    resize: none;
    height: 15vw;
}

.article img{
    width: 100%;
}

.article img:hover{
    width: 180%;
}
.article .important{
    color: red;
    display: inline;
}

.article img.Emoticon{
    width: auto;
    height: auto;
    vertical-align: top;
    max-height: 10%;
    max-width: 10%;
}




.text{
    text-indent: 2em;
}




a{
    text-decoration: none;
}

h1{
    text-align: center;
    font-size: 1.5vw;
}
h4{
    font-size: 0.8vw;
}

a,body{
    color: #eee;
}
.article .content a{
    color: #991212;!important;
}
.side-bar{
   float: left;
    width: 50%;
    position: fixed;
}

.main{
    float: right;
    width: 60%;
}
.article-list,.article{
    width: 50%;
    background: #fff;
    color: #454545;
    padding: 1vw 3vw;
    box-shadow: 0 0 0.5vw rgba(0,0,0,0.2);
}


.article-list .item .title,.article .title {
    color: #454545;
    font-size: 2vw;
    font-weight: 700;
}

.article-list .item .status,.article .status{
    font-size:1.25vw;
    color: #ccc;
}

.article-list .item>*,
.article>*{
    margin: 1vw 0vw;
}

.header .logo{
    line-height: 1;
    border: 0.5vw solid #eee;
    padding: 1vw 2vw;
    font-size:3vw;
    display: inline-block;
    margin-bottom: 1vw;
}

.side-bar>*{
    padding: 1vw 1.5vw;
}

.side-bar .nav a,
.side-bar .tag-list a{
    display: block;
    padding: 0.75vw;
    color: #888;
}

.side-bar .nav a{
    font-weight: 900;
}

.side-bar .nav a:hover,
.side-bar .tag-list a:hover{
    color: #eee;
    transition:color 1000ms;
}


.article-list .item{
    margin-bottom: 2.5vw;
}
