
body{
    background: #454545;
    line-height: 18px;
}
html{
    font-size: 15px;
}
audio{
    width: 100%;
}
textarea{
    width: 100%;
    resize: none;
    height: 180px;
}

.article img{
    width: 100%;
}

.article img:hover{
    width: 180%;
}
.article .important{
    color: red;
    display: inline;
}

.article img.Emoticon{
    width: auto;
    height: auto;
    vertical-align: top;
    max-height: 100%;
    max-width: 100%;
}




.text{
    text-indent: 2em;
}




a{
    text-decoration: none;
}

h1{
    text-align: center;
    font-size: 18px;
}
h4{
    font-size: 12px;
}

a,body{
    color: #eee;
}
.article a{
    color: red;!important;
}
.article .content a{
    color: #991212;!important;
}
.side-bar{
   float: left;
    width: 40%;
    position: fixed;
}

.main{
    float: right;
    width: 60%;
}
.article-list,.article{
    width: 50%;
    background: #fff;
    color: #454545;
    padding: 60px 90px;
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
}


.article-list .item .title,.article .title {
    color: #454545;
    font-size: 24px;
    font-weight: 700;
}

.article-list .item .status,.article .status{
    font-size:15px;
    color: #ccc;
}

.article-list .item>*,
.article>*{
    margin: 12px 0px;
}

.header .logo{
    line-height: 1;
    border: 6px solid #eee;
    padding: 12px 24px;
    font-size:36px;
    display: inline-block;
    margin-bottom: 12px;
}

.side-bar>*{
    padding: 12px 18px;
}

.side-bar .nav a,
.side-bar .tag-list a{
    display: block;
    padding: 9px 0 9px 9px;
    color: #888;
}

.side-bar .nav a{
    font-weight: 900;
}

.side-bar .nav a:hover,
.side-bar .tag-list a:hover{
    color: #eee;
    transition:color 1000ms;
}


.article-list .item{
    margin-bottom: 30px;
}
